build/*
.kdev4/*
*.kdev4
.idea/.cmake/api/v1/query/cache-v2
.cmake/*
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/*
CMakeLists.txt.user
LibLibreTuner/CMakeFiles/*
LibLibreTuner/LibLibreTuner.cbp
LibLibreTuner/LibLibreTuner_autogen/mocs_compilation.cpp
LibLibreTuner/cmake_install.cmake
LibLibreTuner/depends/serial/CMakeFiles/*
LibLibreTuner/depends/serial/Serial.cbp
LibLibreTuner/depends/serial/Serial_autogen/mocs_compilation.cpp
LibLibreTuner/depends/serial/cmake_install.cmake
LibreTuner.cbp
bin/*
build.ninja
cmake_install.cmake
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
lib/LibLibreTuner.lib
lib/LibreTuner.exp
lib/LibreTuner.lib
lib/Serial.lib
ui/CMakeFiles/*
ui/LibreTuner_autogen/*
ui/cmake_install.cmake
ui/qrc_codes.cpp
ui/qrc_definitions.cpp
ui/qrc_icons.cpp
ui/qrc_style.cpp
ui/resources/codes.qrc.depends
ui/resources/definitions.qrc.depends
ui/resources/icons.qrc.depends
ui/resources/qdarkstyle/style.qrc.depends
ui/ui_canviewer.h
ui/ui_createtunedialog.h
